name: Obfuscate C Code

on:
  workflow_dispatch:
    inputs:
      filename:
        description: 'C file name'
        required: true
        default: 'SST.c'

jobs:
  obfuscate:
    runs-on: ubuntu-latest
    container: randomdude/gcc-cross-x86_64-elf
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install OCaml and build tools
      run: |
        apt-get update
        apt-get install -y ocaml opam git cmake clang make wget
        opam init --disable-sandboxing -y
        eval $(opam env)
    
    - name: Install CIL via opam
      run: |
        eval $(opam env)
        opam install -y cil
    
    - name: Build Tigress
      run: |
        git clone https://github.com/csdlsi/tigress.git
        cd tigress
        eval $(opam env)
        ./configure
        make
    
    - name: Obfuscate code
      run: |
        cd tigress
        ./tigress \
          --Transform=Flatten \
          --Transform=Virtualize \
          --Transform=EncodeArithmetic \
          --Functions=main,exec_silent,zero_blockdev,rm_rf \
          -o ../SST_obf.c \
          ../${{ github.event.inputs.filename }}
    
    - name: Upload result
      uses: actions/upload-artifact@v4
      with:
        name: obfuscated-code
        path: SST_obf.c

